* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navegacao{
    background-color: #000000;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegacao img{
    height: 60px;
    margin: 20px 0 20px 80px;
}
.navegacao ul{
    display: flex;
    list-style: none;
    margin-right: 80px;
    border-bottom: none;
}
.navegacao ul li{
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.navegacao ul li a{
    text-decoration: none;
    color: #FFFFFF;
    padding-bottom: 5px;
}
.navegacao ul li a:hover{
    border-bottom: 2px solid #FFFFFF;
}
.navegacao a:visited{
    color: #8f0101;
}

#image-body{
    width: 100px;
    height: 500px;
    background-size: cover;
    background-position: center;
}
